<div>
  <% if post.likes.exists?(user_id: current_user.id) %>
    <p> Post liked! </p>
  <% else %>
    <%= form_with url: post_likes_path(post.id) do |form| %>
      <%= form.submit "Like" %>
    <% end %>
  <% end %>
</div>