<div class="post flex-col">
    <div class="post-id">
      <h3>Post #<%= post.id %></h3>
    </div>
    <div class="post-text">
      <%= post.text %>
    </div>
    <div class="post-stats align-end">
      Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
    </div>
  </div> 
  